*{
margin: 0;
padding: 0;
}

body{
    background-color: lightpink;
}

header,.main,footer{

    width: 90%;
    margin: 20px auto;
}

img{
    width: 80px;
    height: 80px;
}

header nav{
    background-color: lightgreen;
}

ul{
    list-style: none;
}

li{
display:inline-block;
padding: 8px 20px;


}

a{
    text-decoration: none;
    color: rgb(31, 36, 41);
}

li:hover{
    background-color: rgb(187, 235, 187);
}

.main .articles{
    width: 68.5%;
    margin-right: 1.5%;
    float: left;


}



.aside{
    width: 30%;
    background-color: orangered;
    float: left;
    padding: 20px;
    box-sizing: border-box;
}

.articles article{
    background-color: turquoise;
    margin-bottom: 10px;
    padding: 20px;
}

footer{
    background-color: rgb(45, 49, 53);
    color: white;
    clear: both;
}