body{
    justify-content: center;
    background: rgba(9,9,121,1);
}

.poliwrath{
    z-index: -10;
    margin: auto;
    width: 700px;
    height: 700px;
    position: relative;
    background-color: coral;
}

.body-eyes{
    z-index: -1;
    position: absolute;    
    height: 130px;
    width: 120px;
    left: 180px;
    background-color: #565B6D;
    border-style: solid;
    border-radius: 50% 50% 67% 33% / 59% 26% 74% 41%;
}

.body-eyes::after{
    content: '';
    position: absolute;
    height: 130px;
    width: 135px;
    top: -3px;
    left: 190px;
    background-color: #565B6D;
    border-style: solid;
    border-radius: 50% 50% 38% 62% / 56% 66% 34% 44%;
}

.eyes{
    z-index: 2;
}

.left-eye{
    position: absolute;
    left: 180px;
    top: 65px;    
    width: 100px;
    height: 60px;
    border-style: solid;
    border-radius: 0 0 8in 10in;
    background: #f2f2ff;
    transform: rotate(30deg);
}

.left-eye::before{
    content: '';
    position: absolute;
    top:-3px;
    left: 60px;
    border-style: solid;
    border-color: white;
    border-width: 12px 4px 12px 4px;
    border-radius: 50%;
    box-shadow: 0 5px 0 8px black;
    transform: rotate(-30deg);
}

.left-eye::after{    
    content: '';
    position: absolute;
    top: -55px;
    left: -3px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 8in 10in 0 0;
    background: #565B6D;
}

.right-eye{
    position: absolute;
    left: 405px;
    top: 65px;    
    width: 100px;
    height: 60px;
    border-style: solid;
    border-radius: 0 0 10in 8in;
    background: #f2f2ff;
    transform: rotate(-30deg);
}

.right-eye::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 30px;
    border-style: solid;
    border-color: white;
    border-width: 12px 4px 12px 4px;
    border-radius: 50%;
    box-shadow: 0 5px 0 8px black;
    transform: rotate(30deg);
}

.right-eye::after{    
    content: '';
    position: absolute;
    top: -55px;
    left: -3px;
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 10in 8in 0 0;
    background: #565B6D;
}

.body{
    z-index: -1;
    position: absolute;
    top: 37px;
    left: 105px;
    border-style: solid;
    height: 410px;
    width: 470px;
    background-color: #565B6D;
    border-radius: 50%;
}

.body::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 198px;
    border-style: solid;
    border-color: transparent black black transparent;    
    border-width: 8px 8px 12px;
    border-radius: 50% 40% 20% 50%;
    transform: rotate(25deg);
    box-shadow:
        -38px -40px 0 0 #565B6D,
        -116px 38px 0 0 #565B6D;
}

.body::before{
    content: '';
    position: absolute;
    top: 55px;
    left: 235px;
    border-style: solid;
    border-color: transparent black black transparent;    
    border-width: 8px 8px 12px;
    border-radius: 50% 40% 20% 50%;
    transform: rotate(-45deg);
    box-shadow: 
        114px 100px 0 0 #565B6D,
        76px -10px 0 0 #565B6D;
}

.left-arm{
    z-index: -10;
    position: absolute;
    top: 98px;
    left: 19px;
    border-style: solid;
    background-color: #565B6D;
    border-radius: 100% 0% 55% 45% / 86% 73% 27% 14%;
    width: 180px;
    height: 170px;
}

.left-arm::before{
    content: '';
    position: absolute;
    top: 90px;
    left: -10px;
    border-style: solid;
    border-radius: 71% 29% 41% 59% / 74% 59% 41% 26% ;
    border-color:  black black transparent;
    background-color: #f2f2f2;
    width: 110px;
    height: 45px;
    transform: rotate(-15deg);
}

.left-hand{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: -10px;
    border-style: solid;
    border-radius: 68% 32% 59% 41% / 59% 64% 36% 41% ;
    border-color:black;
    background-color: #f2f2f2;
    width: 200px;
    height: 140px;
    transform: rotate(-15deg);    
    box-shadow: 87px -110px 0 -39px #565B6D;

}

.right-arm{
    z-index: -10;
    position: absolute;
    top: 110px;
    left: 410px;
    border-style: solid;
    background-color: #565B6D;
    border-radius: 50% 50% 46% 54% / 24% 22% 78% 76% ;
    width: 250px;
    height: 200px;
    transform: rotate(30deg);
}

.right-arm::before{
    content: '';
    position: absolute;
    top: 75px;
    left: 125px;
    border-style: solid;
    border-radius: 71% 29% 41% 59% / 74% 59% 41% 26% ;
    border-color:  black black transparent;
    background-color: #f2f2f2;
    width: 110px;
    height: 45px;
}

.right-hand{
    z-index: 2;
    position: absolute;
    top: 200px;
    left: 435px;
    border-style: solid;
    border-radius: 68% 32% 59% 41% / 59% 64% 36% 41% ;
    border-color:black;
    background-color: #f2f2f2;
    width: 200px;
    height: 140px;
    transform: rotate(45deg);
    box-shadow: -86px -100px 0 -39px #565B6D;
}

.spiral{
    position: absolute;
    height: 270px;
    width: 335px;
    top: 100px;
    left: 60px;
    border-radius: 49% 51% 48% 52% / 35% 35% 65% 65%;
    background: white;
    border-style: solid;
}

.spiral::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 5px;
    height: 320px;
    width: 320px;
    border-radius: 49% 51% 48% 52% / 35% 35% 65% 65%;
    clip-path: polygon(46% 47%, 51% 45%, 57% 48%, 57% 53%, 55% 57%, 53% 59%, 50% 61%, 45% 62%, 41% 62%, 38% 59%, 36% 56%, 34% 50%, 34% 46%, 37% 42%, 40% 39%, 43% 37%, 48% 35%, 53% 35%, 57% 36%, 61% 39%, 64% 43%, 66% 47%, 68% 52%, 67% 56%, 66% 60%, 62% 64%, 57% 67%, 51% 69%, 46% 70%, 40% 68%, 36% 66%, 32% 63%, 29% 59%, 28% 54%, 26% 49%, 26% 45%, 28% 40%, 30% 37%, 33% 33%, 38% 31%, 42% 29%, 46% 28%, 50% 27%, 55% 27%, 58% 28%, 62% 29%, 66% 31%, 69% 34%, 72% 38%, 75% 42%, 75% 47%, 76% 51%, 76% 56%, 76% 61%, 74% 65%, 70% 69%, 66% 72%, 62% 74%, 57% 76%, 52% 78%, 47% 80%, 42% 79%, 36% 79%, 30% 76%, 26% 74%, 23% 71%, 20% 68%, 18% 65%, 17% 59%, 16% 54%, 16% 48%, 16% 41%, 18% 37%, 20% 32%, 24% 27%, 28% 23%, 32% 21%, 38% 18%, 44% 17%, 50% 17%, 56% 17%, 62% 18%, 66% 20%, 71% 23%, 75% 26%, 79% 31%, 81% 35%, 84% 41%, 85% 47%, 86% 53%, 86% 60%, 86% 64%, 84% 68%, 82% 72%, 78% 76%, 76% 74%, 77% 71%, 80% 68%, 81% 64%, 81% 61%, 81% 56%, 81% 51%, 81% 47%, 80% 43%, 78% 39%, 78% 36%, 75% 33%, 73% 30%, 70% 27%, 66% 25%, 63% 24%, 58% 22%, 53% 21%, 48% 21%, 42% 22%, 39% 23%, 34% 26%, 31% 28%, 27% 31%, 24% 35%, 22% 40%, 20% 44%, 20% 48%, 21% 54%, 22% 58%, 23% 62%, 25% 67%, 29% 69%, 32% 72%, 37% 74%, 41% 75%, 46% 75%, 51% 74%, 55% 73%, 60% 71%, 64% 69%, 69% 66%, 72% 62%, 73% 57%, 72% 52%, 71% 48%, 70% 44%, 68% 41%, 66% 36%, 60% 33%, 55% 32%, 50% 31%, 46% 32%, 42% 33%, 38% 35%, 35% 39%, 31% 43%, 31% 47%, 32% 54%, 34% 59%, 37% 63%, 41% 65%, 46% 67%, 50% 67%, 54% 65%, 58% 63%, 61% 60%, 63% 58%, 64% 54%, 64% 51%, 62% 47%, 59% 44%, 57% 40%, 53% 39%, 49% 40%, 44% 41%, 42% 45%, 39% 47%, 39% 52%, 42% 56%, 45% 58%, 49% 57%, 52% 55%, 52% 51%, 52% 49%, 49% 50%, 46% 51%);
    background: black;
    border-style: solid;
}

.spiral::after{
    content: '';
    position: absolute;    
    background-color: #565B6D;
    top: -5px;
    left: 47px;
    border-style: solid;
    height: 28px;
    width: 229px;
    border-color: transparent transparent black transparent;
    border-radius: 50%;
}

.left-leg{
    position: absolute;    
    background-color: #565B6D;
    height: 110px;
    width: 90px;
    top: 413px;
    left: 160px;
    border-style: solid;
    border-radius: 49% 51% 58% 42% / 3% 2% 98% 97% ;
    transform: rotate(25deg);
}

.left-leg::before{
    content: '';
    position: absolute;    
    background-color: #565B6D;
    height: 185px;
    width: 88px;
    top: 72px;
    left: -20px;
    border-style: solid;
    border-radius: 53% 47% 30% 70% / 14% 16% 84% 86% ;
    transform: rotate(43deg);
}

.left-leg::after{
    content: '';
    position: absolute;
    background-color: #565B6D;
    height: 64px;
    width: 80px;
    top: 18px;
    left: 0px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    clip-path: polygon(0 0, 0% 50%, 50% 50%);
    border-radius: 90% 47% 30% 70% / 14% 16% 84% 86%;
    transform: rotate(-168deg);
}

.right-leg{
    position: absolute;    
    background-color: #565B6D;
    height: 120px;
    width: 90px;
    top: 418px;
    left: 405px;
    border-style: solid;
    border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
    transform: rotate(-16deg);
}

.right-leg::after{
    content: '';
    position: absolute;    
    background-color: #565B6D;
    height: 80px;
    width: 185px;
    top: 112px;
    left: -24px;
    border-style: solid;
    border-radius: 27% 73% 36% 64% / 50% 80% 20% 50%;
    transform: rotate(30deg);
}

.right-leg div, .left-leg div{
    z-index: 1;
    position: absolute;    
    background-color: #565B6D;
    height: 125px;
    top: -10px;
    width: 99%;
    border-radius: 100% 0% 50% 50% / 0% 0% 100% 100%;
}
